Sage/Resources/schemas/sage/configuration/project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="sage.configuration.project" elementFormDefault="qualified"
		targetNamespace="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:intl="http://www.cycle99.com/schemas/sage/internationalization.xsd"
		xmlns:p="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
		xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd">

	<xs:import namespace="http://www.w3.org/2003/XInclude" schemaLocation="../../xinclude.xsd"/>
	<xs:import namespace="http://www.cycle99.com/schemas/sage/internationalization.xsd" schemaLocation="../internationalization.xsd"/>

	<xs:element name="project" type="project"/>
	<xs:element name="extension" type="project"/>

	<xs:complexType name="project">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="paths" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="AssetPath" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="View" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Module" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Extension" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Dictionary" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="SiteMap" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="DefaultStylesheet" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ModuleStylesheet" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="CacheDirectory" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="DefaultCategoryStylesheet" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="CategoryConfiguration" type="textelement.notempty" minOccurs="0" maxOccurs="1"/>
						<xs:element name="GlobalizedDirectory" type="textelement" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Defines the directory in which globalized resources will be saved, and from which they will be read.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="GlobalizedDirectoryForNonFileResources" type="textelement" minOccurs="0" maxOccurs="1"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="viewcaching" type="viewcaching" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dependencies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" use="required" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="libraries" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="library" minOccurs="0" maxOccurs="unbounded" type="library"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="unique-library-name">
					<xs:selector xpath="p:library"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="metaViews" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="metaView" type="metaView" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="uniqueMetaViewName">
					<xs:selector xpath="p:metaView"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="errorViews" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="view"  minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:choice minOccurs="2" maxOccurs="2">
									<xs:element name="developer" minOccurs="1" maxOccurs="1">
										<xs:complexType mixed="true"/>
									</xs:element>
									<xs:element name="default" minOccurs="1" maxOccurs="1">
										<xs:complexType mixed="true"/>
									</xs:element>
								</xs:choice>
								<xs:attribute name="error" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="uniqueErrorNumber">
					<xs:selector xpath="p:view"/>
					<xs:field xpath="@error"/>
				</xs:unique>
			</xs:element>
			<xs:element name="modules" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="module" type="module" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<!--<xs:key name="moduleName">
					<xs:selector xpath="p:module"/>
					<xs:field xpath="@name"/>
					<xs:field xpath="@category"/>
				</xs:key>
				<xs:keyref name="moduleRef" refer="moduleName">
					<xs:selector xpath="module/dependencies/module"/>
					<xs:field xpath="@name"/>
					<xs:field xpath="@category"/>
				</xs:keyref>
				<xs:unique name="unique-module-name">
					<xs:selector xpath="p:module"/>
					<xs:field xpath="@name"/>
					<xs:field xpath="@category"/>
				</xs:unique>-->
			</xs:element>
			<xs:element name="linking" minOccurs="0" maxOccurs="1" type="linking"/>
			<xs:element name="routing" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="route" type="route" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="defaultNamespace" use="optional" type="nonEmptyString"/>
					<xs:attribute name="defaultController" use="optional" type="nonEmptyString"/>
					<xs:attribute name="defaultAction" use="optional" type="nonEmptyString"/>
				</xs:complexType>	
				<xs:unique name="unique-route-name">
					<xs:selector xpath="p:route"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="categories" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="category" type="category" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="unique-category-name">
					<xs:selector xpath="p:category"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="internationalization" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Defines the locales that this project supports.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="locale" type="locale" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="unique-locale-name">
					<xs:selector xpath="p:locale"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="environment" minOccurs="0" maxOccurs="1" type="environment"/>
			<xs:element name="package" minOccurs="0" maxOccurs="1" type="package"/>
			<xs:element name="variables" type="intl:variables">
				<xs:unique name="unique-variable-id">
					<xs:selector xpath="intl:variable"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:any namespace="##other" processContents="skip"/>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string"/>
		<xs:attribute name="autoInternationalize" use="optional" default="true" type="xs:boolean"/>
		<xs:attribute name="debugMode" use="optional" default="false" type="xs:boolean"/>
		<xs:attribute name="defaultLocale" use="optional" type="nonEmptyString"/>
		<xs:attribute name="defaultCategory" use="optional" type="nonEmptyString"/>
		<xs:attribute name="sharedCategory" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	
	<xs:complexType name="viewcaching">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="directory" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true"/>
			</xs:element>
			<xs:element name="groups" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="group" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:choice minOccurs="0" maxOccurs="2">
									<xs:element name="savefilter" minOccurs="0" maxOccurs="2">
										<xs:complexType>
											<xs:choice minOccurs="1" maxOccurs="unbounded">
												<xs:element name="replace" type="replacefilter"/>
												<xs:element name="transform" type="transformfilter"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="loadfilter" minOccurs="0" maxOccurs="2">
										<xs:complexType>
											<xs:choice minOccurs="1" maxOccurs="unbounded">
												<xs:element name="replace" type="replacefilter"/>
												<xs:element name="transform" type="transformfilter"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:choice>
								<xs:attribute name="name" use="required" type="nonEmptyString"/>
								<xs:attribute name="extension" use="required" type="nonEmptyString"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="enabled" use="required" type="xs:boolean"/>
	</xs:complexType>
	
	<xs:complexType name="transformfilter" mixed="true">
	</xs:complexType>
	
	<xs:complexType name="replacefilter">
		<xs:sequence>
			<xs:element name="from" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true"/>
			</xs:element>
			<xs:element name="to" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true"/>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="package">
		<xs:choice minOccurs="0" maxOccurs="7">
			<xs:element name="dependencies" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="binaries" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assets" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modules" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="libraries" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="routes" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="links" type="packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="metaViews" type="packagegroup" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="packagegroup" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="include" type="textelement.notempty"/>
			<xs:element name="exclude" type="textelement.notempty"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="textelement.notempty" mixed="true">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="textelement" mixed="true">
	</xs:complexType>

	<xs:complexType name="authenticatedurl" mixed="true">
		<xs:attribute name="username" use="optional"/>
		<xs:attribute name="password" use="optional"/>
	</xs:complexType>

	<xs:complexType name="metaView">
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="contentType" use="required" type="nonEmptyString"/>
		<xs:attribute name="type" use="required" type="nonEmptyString"/>
		<xs:attribute name="path" use="optional" type="nonEmptyString"/>
		<xs:attribute name="description" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="25"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="module">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tags" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="tag" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" use="required" type="xs:Name"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="dependencies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="module" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" use="required" type="xs:Name"/>
								<xs:attribute name="category" use="required" type="xs:Name"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="library" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" use="required" type="xs:Name"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="stylesheets" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="stylesheet" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="path" use="required" type="nonEmptyString"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="resources" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="resource" minOccurs="1" maxOccurs="unbounded" type="resource"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="type" use="optional" type="nonEmptyString"/>
		<xs:attribute name="category" use="optional" type="validCategory"/>
		<xs:attribute name="auto" use="optional" default="none">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="none"/>
					<xs:enumeration value="head"/>
					<xs:enumeration value="body"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="library">
		<xs:choice minOccurs="0" maxOccurs="3">
			<xs:element name="resources" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource" minOccurs="0" maxOccurs="unbounded" type="resource"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dependencies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="library" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="include" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice>
						<xs:sequence minOccurs="0" maxOccurs="1">
							<xs:element name="always" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
						<xs:sequence minOccurs="0" maxOccurs="1">
							<xs:element name="path" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType mixed="true"/>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="linking">
		<xs:choice minOccurs="0" maxOccurs="2">
			<xs:element name="formats" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="format" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType mixed="true">
								<xs:attribute name="name" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="[^,]+"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UniqueFormatName">
					<xs:selector xpath="link"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="links" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="link" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType mixed="true">
								<xs:attribute name="name" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="[^,]+"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UniqueLinkName">
					<xs:selector xpath="link"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
		</xs:choice>
		<xs:attribute name="rewritePrefix" use="optional" type="nonEmptyString"/>
		<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="environment">
		<xs:sequence>
			<xs:element name="addresses">
				<xs:complexType>
					<xs:choice>
						<xs:element name="developers" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="ip" name="ip" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="blocked" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="ip" name="ip" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="robots" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="ip" name="ip" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resource">
		<xs:attribute name="type" type="p:resourceType" use="required"/>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The resource name is useful with xml document resources.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="location" type="p:resourceLocation" use="required"/>
		<xs:attribute name="unmerge" type="xs:boolean" use="optional"/>
		<xs:attribute name="path" type="xs:string" use="required"/>
		<xs:attribute name="limitTo" type="xs:string" use="optional"/>
	</xs:complexType>

	<xs:complexType name="route">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="constraint" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="nonEmptyString"/>
					<xs:attribute name="expression" use="required" type="nonEmptyString"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="default" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="nonEmptyString"/>
					<xs:attribute name="value" use="required" type="nonEmptyString"/>
					<xs:attribute name="type" use="optional" type="nonEmptyString"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="path" use="required" type="xs:string"/>
		<xs:attribute name="controller" use="required" type="nonEmptyString"/>
		<xs:attribute name="action" use="required" type="nonEmptyString"/>
		<xs:attribute name="namespace" use="optional" type="nonEmptyString"/>
		<xs:attribute name="extension" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="category">
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="locales" use="required" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="locale">
		<xs:all>
			<xs:element name="format" type="format" minOccurs="1" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="language" use="required" type="nonEmptyString"/>
		<xs:attribute name="dictionaryNames" use="required" type="nonEmptyString"/>
		<xs:attribute name="resourceNames" use="required" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="format">
		<xs:attribute name="culture" use="required" type="nonEmptyString"/>
		<xs:attribute name="longDate" use="optional" type="nonEmptyString"/>
		<xs:attribute name="shortDate" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="ip">
		<xs:annotation>
			<xs:documentation>
				Specifies either a single IP address (if only the address attribute is used) or an IP
				address range (if both the address and to attributes are used).
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="address" use="required" type="xs:string"/>
		<xs:attribute name="to" use="optional" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="credentials">
		<xs:sequence>
			<xs:element name="default" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="username">
							<xs:complexType mixed="true"/>
						</xs:element>
						<xs:element name="password">
							<xs:complexType mixed="true"/>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="validCategory">
		<xs:restriction base="xs:string">
			<xs:pattern value="^[ \w\/]+$"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*[\S]+.*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="minificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="conservative"/>
			<xs:enumeration value="aggressive"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sendMailCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="always"/>
			<xs:enumeration value="publicOnly"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="resourceLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="head"/>
			<xs:enumeration value="body"/>
			<xs:enumeration value="data"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="resourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="javascript"/>
			<xs:enumeration value="css"/>
			<xs:enumeration value="document"/>
			<xs:enumeration value="icon"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
