src/Sage/Resources/Schemas/ProjectConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ProjectConfiguration" elementFormDefault="qualified"
		targetNamespace="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:p="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
		xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd">

	<xs:import namespace="http://www.w3.org/2003/XInclude" schemaLocation="XInclude.xsd"/>
	
	<xs:element name="configuration">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="system" minOccurs="1" maxOccurs="1" type="config.instance"/>
				<xs:element name="project" minOccurs="1" maxOccurs="1" type="config.instance"/>
				<xs:element name="extension" minOccurs="1" maxOccurs="1" type="config.extension"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="config.instance">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="paths" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="AssetPath" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="View" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Module" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Extension" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Dictionary" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="SiteMap" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="DefaultStylesheet" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="DefaultCategoryStylesheet" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="CategoryConfiguration" type="config.textelement" minOccurs="0" maxOccurs="1"/>
						<xs:element name="GlobalizedDirectory" type="text.element" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Defines the directory in which globalized resources will be saved, and from which they will be read.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="GlobalizedDirectoryForNonFileResources" type="text.element" minOccurs="0" maxOccurs="1"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="libraries" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="library" minOccurs="0" maxOccurs="unbounded" type="config.library"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="uniqueLibraryName">
					<xs:selector xpath="p:library"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="metaViews" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="view" type="config.view" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="uniqueMetaViewName">
					<xs:selector xpath="p:view"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="modules" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="module" type="config.module" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<xs:key name="moduleName">
					<xs:selector xpath="p:module"/>
					<xs:field xpath="@name"/>
				</xs:key>
				<xs:keyref name="moduleRef" refer="moduleName">
					<xs:selector xpath="module/dependencies/module"/>
					<xs:field xpath="@ref"/>
				</xs:keyref>
			</xs:element>
			<xs:element name="links" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="link" type="config.link" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="rewritePrefix" use="optional" type="nonEmptyString"/>
				</xs:complexType>
				<xs:unique name="UniqueLinkName">
					<xs:selector xpath="link"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="routing" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="route" type="config.route" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="defaultNamespace" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value=".*[\S]+.*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
				<xs:unique name="uniqueRouteName">
					<xs:selector xpath="p:route"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:element name="categories" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="category" type="config.category" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="globalization" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Defines the locales that this project supports.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="locale" type="config.locale" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="developers" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Configures IP addresses and address ranges of computers that should be considered as developers.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ip" type="config.ip" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="skip"/>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:Name"/>
		<xs:attribute name="autoGlobalize" use="optional" default="true" type="xs:boolean"/>
		<xs:attribute name="debugMode" use="optional" default="false" type="xs:boolean"/>
		<xs:attribute name="defaultLocale" use="optional" type="nonEmptyString"/>
		<xs:attribute name="defaultCategory" use="optional" type="nonEmptyString"/>
		<xs:attribute name="sharedCategory" use="optional" type="nonEmptyString"/>
		<xs:attribute name="multiCategory" use="optional" type="xs:boolean"/>
	</xs:complexType>
	
	<xs:complexType name="config.extension">
		<xs:complexContent>
			<xs:extension base="config.instance">
				<xs:choice>
					<xs:element name="package" minOccurs="0" maxOccurs="1" type="config.package"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="config.package">
		<xs:choice minOccurs="1" maxOccurs="7">
			<xs:element name="binaries" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assets" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modules" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="libraries" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="routes" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="links" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
			<xs:element name="metaViews" type="config.packagegroup" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="config.packagegroup" mixed="true">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="include" type="config.textelement"/>
			<xs:element name="exclude" type="config.textelement"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="config.textelement" mixed="true">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="config.authenticatedurl" mixed="true">
		<xs:attribute name="username" use="optional"/>
		<xs:attribute name="password" use="optional"/>
	</xs:complexType>

	<xs:complexType name="text.element" mixed="true">
	</xs:complexType>

	<xs:complexType name="config.view">
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="contentType" use="required" type="nonEmptyString"/>
		<xs:attribute name="type" use="required" type="nonEmptyString"/>
		<xs:attribute name="path" use="optional" type="nonEmptyString"/>
		<xs:attribute name="description" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="25"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="config.module">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tags" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="tag" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" use="required" type="xs:Name"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="dependencies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="module" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" use="required" type="xs:Name"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="stylesheets" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="stylesheet" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="path" use="required" type="nonEmptyString"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="resources" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="library" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="resource" minOccurs="1" maxOccurs="unbounded" type="config.resource"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:Name"/>
		<xs:attribute name="type" use="optional" type="nonEmptyString"/>
		<xs:attribute name="category" use="optional" type="validCategory"/>
		<xs:attribute name="auto" use="optional" default="none">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="none"/>
					<xs:enumeration value="head"/>
					<xs:enumeration value="body"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="config.library">
		<xs:choice minOccurs="0" maxOccurs="3">
			<xs:element name="resources" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource" minOccurs="1" maxOccurs="unbounded" type="config.resource"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dependencies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="library" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="include" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:choice>
						<xs:sequence minOccurs="0" maxOccurs="1">
							<xs:element name="always" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
						<xs:sequence minOccurs="0" maxOccurs="1">
							<xs:element name="path" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType mixed="true"/>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="config.link">
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^,]+"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="config.resource">
		<xs:attribute name="type" type="p:resourceType" use="required"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="location" type="p:resourceLocation" use="required"/>
		<xs:attribute name="path" type="xs:string" use="required"/>
		<xs:attribute name="limitTo" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="config.route">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="constraint" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="nonEmptyString"/>
					<xs:attribute name="expression" use="required" type="nonEmptyString"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="default" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="nonEmptyString"/>
					<xs:attribute name="value" use="required" type="nonEmptyString"/>
					<xs:attribute name="type" use="optional" type="nonEmptyString"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="path" use="required" type="xs:string"/>
		<xs:attribute name="controller" use="required" type="nonEmptyString"/>
		<xs:attribute name="action" use="required" type="nonEmptyString"/>
		<xs:attribute name="namespace" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="config.category">
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="locales" use="required" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="config.locale">
		<xs:all>
			<xs:element name="format" type="config.format" minOccurs="1" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="name" use="required" type="nonEmptyString"/>
		<xs:attribute name="dictionaryNames" use="required" type="nonEmptyString"/>
		<xs:attribute name="resourceNames" use="required" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="config.format">
		<xs:attribute name="culture" use="required" type="nonEmptyString"/>
		<xs:attribute name="longDate" use="optional" type="nonEmptyString"/>
		<xs:attribute name="shortDate" use="optional" type="nonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="config.ip">
		<xs:annotation>
			<xs:documentation>
				Specifies either a single IP address (if only the address attribute is used) or an IP
				address range (if both the address and to attributes are used).
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="address" use="required" type="xs:string"/>
		<xs:attribute name="to" use="optional" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="config.credentials">
		<xs:sequence>
			<xs:element name="default" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="username">
							<xs:complexType mixed="true"/>
						</xs:element>
						<xs:element name="password">
							<xs:complexType mixed="true"/>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="validCategory">
		<xs:restriction base="xs:string">
			<xs:pattern value="^[ \w/]+$"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*[\S]+.*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="minificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="conservative"/>
			<xs:enumeration value="aggressive"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="sendMailCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="always"/>
			<xs:enumeration value="publicOnly"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="resourceLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="head"/>
			<xs:enumeration value="body"/>
			<xs:enumeration value="data"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="resourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="script"/>
			<xs:enumeration value="style"/>
			<xs:enumeration value="document"/>
			<xs:enumeration value="icon"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
